[MASTER]
ignore=CVS
ignore-patterns=
persistent=yes
load-plugins=
jobs=1
unsafe-load-any-extension=no
extension-pkg-whitelist=

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,R0903,R0913,R0914

[REPORTS]
output-format=text
files-output=no
reports=no
score=no

[FORMAT]
max-line-length=120
