<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet10" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet10/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- Bleeding edge .NET 10 packages from dotnet10 feed -->
    <packageSource key="dotnet10">
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="System.Numerics.Tensors" />
      <package pattern="System.IO.Hashing" />
      <package pattern="System.IO.Pipelines" />
      <package pattern="Microsoft.AspNetCore.*" />
      <package pattern="Microsoft.JSInterop" />
    </packageSource>
    <!-- Everything else from nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <config>
    <add key="maxHttpRequestsPerSource" value="16" />
    <add key="http2" value="true" />
    <add key="signatureValidationMode" value="accept" />
  </config>
</configuration>
