<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>0</MaxCpuCount>
    <TestSessionTimeout>600000</TestSessionTimeout>
    <TreatNoTestsAsError>true</TreatNoTestsAsError>
    <ResultsDirectory>./TestResults</ResultsDirectory>
    <EnvironmentVariables>
      <DOTNET_ENVIRONMENT>Development</DOTNET_ENVIRONMENT>
      <ASPIRE_ALLOW_UNSECURED_TRANSPORT>true</ASPIRE_ALLOW_UNSECURED_TRANSPORT>
      <API_BASE_URL>http://localhost:5000</API_BASE_URL>
      <WEB_BASE_URL>http://localhost:3000</WEB_BASE_URL>
      <ASPIRE_DASHBOARD_URL>http://localhost:18888</ASPIRE_DASHBOARD_URL>
      <ASPIRE_DASHBOARD_OTLP_ENDPOINT_URL>http://localhost:18889</ASPIRE_DASHBOARD_OTLP_ENDPOINT_URL>
      <ASPIRE_DASHBOARD_MCP_ENDPOINT_URL>http://localhost:16036</ASPIRE_DASHBOARD_MCP_ENDPOINT_URL>
      <DOTNET_DASHBOARD_OTLP_ENDPOINT_URL>http://localhost:18889</DOTNET_DASHBOARD_OTLP_ENDPOINT_URL>
      <OTEL_EXPORTER_OTLP_ENDPOINT>http://localhost:18889</OTEL_EXPORTER_OTLP_ENDPOINT>
    </EnvironmentVariables>
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[*Tests*]*,[*]*.Migrations.*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <Playwright>
    <BrowserName>chromium</BrowserName>
    <Headless>true</Headless>
    <Timeout>30000</Timeout>
    <ExpectTimeout>5000</ExpectTimeout>
    <LaunchOptions>
      <Timeout>120000</Timeout>
    </LaunchOptions>
  </Playwright>
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="trx" enabled="true">
        <Configuration>
          <LogFileName>test-results.trx</LogFileName>
        </Configuration>
      </Logger>
      <Logger friendlyName="console" enabled="true">
        <Configuration>
          <Verbosity>normal</Verbosity>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>
