version: "3.9"

x-extension-build: &extension-build
  context: .

x-extension-service: &extension-service
  build: *extension-build
  init: true
  restart: unless-stopped
  command:
    - /bin/bash
    - -c
    - python3 /usr/local/bin/fetch_extension.py && exec sleep infinity

services:
  ms-windows-ai-studio-extension:
    <<: *extension-service
    build:
      <<: *extension-build
      dockerfile: ../../Aspire-Full.DockerRegistry/docker/Extensions/Dockerfile.ms-windows-ai-studio.windows-ai-studio
    image: aspire/ms-windows-ai-studio-extension:latest
    container_name: aspire-ms-windows-ai-studio-extension
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: ["gpu", "utility"]
    volumes:
      - ms_windows_ai_studio_windows_ai_studio_extension_cache:/opt/extensions/ms-windows-ai-studio.windows-ai-studio

  ms-azuretools-vscode-azure-github-copilot-extension:
    <<: *extension-service
    build:
      <<: *extension-build
      dockerfile: ../../Aspire-Full.DockerRegistry/docker/Extensions/Dockerfile.ms-azuretools.vscode-azure-github-copilot
    image: aspire/ms-azuretools-vscode-azure-github-copilot-extension:latest
    container_name: aspire-ms-azuretools-vscode-azure-github-copilot-extension
    volumes:
      - ms_azuretools_vscode_azure_github_copilot_extension_cache:/opt/extensions/ms-azuretools.vscode-azure-github-copilot

  ms-dotnettools-csharp-extension:
    <<: *extension-service
    build:
      <<: *extension-build
      dockerfile: ../../Aspire-Full.DockerRegistry/docker/Extensions/Dockerfile.ms-dotnettools.csharp
    image: aspire/ms-dotnettools-csharp-extension:latest
    container_name: aspire-ms-dotnettools-csharp-extension
    volumes:
      - ms_dotnettools_csharp_extension_cache:/opt/extensions/ms-dotnettools.csharp

  ms-dotnettools-csdevkit-extension:
    <<: *extension-service
    build:
      <<: *extension-build
      dockerfile: ../../Aspire-Full.DockerRegistry/docker/Extensions/Dockerfile.ms-dotnettools.csdevkit
    image: aspire/ms-dotnettools-csdevkit-extension:latest
    container_name: aspire-ms-dotnettools-csdevkit-extension
    volumes:
      - ms_dotnettools_csdevkit_extension_cache:/opt/extensions/ms-dotnettools.csdevkit

  ms-dotnettools-dotnet-interactive-vscode-extension:
    <<: *extension-service
    build:
      <<: *extension-build
      dockerfile: ../../Aspire-Full.DockerRegistry/docker/Extensions/Dockerfile.ms-dotnettools.dotnet-interactive-vscode
    image: aspire/ms-dotnettools-dotnet-interactive-vscode-extension:latest
    container_name: aspire-ms-dotnettools-dotnet-interactive-vscode-extension
    volumes:
      - ms_dotnettools_dotnet_interactive_vscode_extension_cache:/opt/extensions/ms-dotnettools.dotnet-interactive-vscode

  ms-azuretools-vscode-docker-extension:
    <<: *extension-service
    build:
      <<: *extension-build
      dockerfile: ../../Aspire-Full.DockerRegistry/docker/Extensions/Dockerfile.ms-azuretools.vscode-docker
    image: aspire/ms-azuretools-vscode-docker-extension:latest
    container_name: aspire-ms-azuretools-vscode-docker-extension
    volumes:
      - ms_azuretools_vscode_docker_extension_cache:/opt/extensions/ms-azuretools.vscode-docker

  github-copilot-extension:
    <<: *extension-service
    build:
      <<: *extension-build
      dockerfile: ../../Aspire-Full.DockerRegistry/docker/Extensions/Dockerfile.GitHub.copilot
    image: aspire/github-copilot-extension:latest
    container_name: aspire-github-copilot-extension
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: ["gpu", "utility"]
    volumes:
      - github_copilot_extension_cache:/opt/extensions/GitHub.copilot

  github-copilot-chat-extension:
    <<: *extension-service
    build:
      <<: *extension-build
      dockerfile: ../../Aspire-Full.DockerRegistry/docker/Extensions/Dockerfile.GitHub.copilot-chat
    image: aspire/github-copilot-chat-extension:latest
    container_name: aspire-github-copilot-chat-extension
    volumes:
      - github_copilot_chat_extension_cache:/opt/extensions/GitHub.copilot-chat

  github-vscode-pull-request-github-extension:
    <<: *extension-service
    build:
      <<: *extension-build
      dockerfile: ../../Aspire-Full.DockerRegistry/docker/Extensions/Dockerfile.GitHub.vscode-pull-request-github
    image: aspire/github-vscode-pull-request-github-extension:latest
    container_name: aspire-github-vscode-pull-request-github-extension
    volumes:
      - github_vscode_pull_request_github_extension_cache:/opt/extensions/GitHub.vscode-pull-request-github

  eamodio-gitlens-extension:
    <<: *extension-service
    build:
      <<: *extension-build
      dockerfile: ../../Aspire-Full.DockerRegistry/docker/Extensions/Dockerfile.eamodio.gitlens
    image: aspire/eamodio-gitlens-extension:latest
    container_name: aspire-eamodio-gitlens-extension
    volumes:
      - eamodio_gitlens_extension_cache:/opt/extensions/eamodio.gitlens

  streetsidesoftware-code-spell-checker-extension:
    <<: *extension-service
    build:
      <<: *extension-build
      dockerfile: ../../Aspire-Full.DockerRegistry/docker/Extensions/Dockerfile.streetsidesoftware.code-spell-checker
    image: aspire/streetsidesoftware-code-spell-checker-extension:latest
    container_name: aspire-streetsidesoftware-code-spell-checker-extension
    volumes:
      - streetsidesoftware_code_spell_checker_extension_cache:/opt/extensions/streetsidesoftware.code-spell-checker

  editorconfig-editorconfig-extension:
    <<: *extension-service
    build:
      <<: *extension-build
      dockerfile: ../../Aspire-Full.DockerRegistry/docker/Extensions/Dockerfile.EditorConfig.EditorConfig
    image: aspire/editorconfig-editorconfig-extension:latest
    container_name: aspire-editorconfig-editorconfig-extension
    volumes:
      - editorconfig_editorconfig_extension_cache:/opt/extensions/EditorConfig.EditorConfig

volumes:
  ms_windows_ai_studio_windows_ai_studio_extension_cache:
    name: aspire_ms_windows_ai_studio_windows_ai_studio_extension_cache
  ms_azuretools_vscode_azure_github_copilot_extension_cache:
    name: aspire_ms_azuretools_vscode_azure_github_copilot_extension_cache
  ms_dotnettools_csharp_extension_cache:
    name: aspire_ms_dotnettools_csharp_extension_cache
  ms_dotnettools_csdevkit_extension_cache:
    name: aspire_ms_dotnettools_csdevkit_extension_cache
  ms_dotnettools_dotnet_interactive_vscode_extension_cache:
    name: aspire_ms_dotnettools_dotnet_interactive_vscode_extension_cache
  ms_azuretools_vscode_docker_extension_cache:
    name: aspire_ms_azuretools_vscode_docker_extension_cache
  github_copilot_extension_cache:
    name: aspire_github_copilot_extension_cache
  github_copilot_chat_extension_cache:
    name: aspire_github_copilot_chat_extension_cache
  github_vscode_pull_request_github_extension_cache:
    name: aspire_github_vscode_pull_request_github_extension_cache
  eamodio_gitlens_extension_cache:
    name: aspire_eamodio_gitlens_extension_cache
  streetsidesoftware_code_spell_checker_extension_cache:
    name: aspire_streetsidesoftware_code_spell_checker_extension_cache
  editorconfig_editorconfig_extension_cache:
    name: aspire_editorconfig_editorconfig_extension_cache
